:root {
    --background-color: #125bb6;
    --dark-color: #303030;
    --lighter-blue: #7fc9ff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark-color);
    font-family: sans-serif;
    color: #fff;
    overflow-x: hidden;
}

header {
    height: 500px;
    width: 100vw;
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    background-color: var(--background-color);
    z-index: -1;
    width: 100%;
    height: 100%;
    clip-path: polygon(55% 0, 100% 0, 100% 85%, 0 100%, 0 0);
}

nav .logo {
    width: 70px;
    cursor: pointer;
}

.right-icons i{
    margin: 0 10px 0 10px;
    cursor: pointer;
    color: white;
    font-size: 30px;
}

.search input {
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: width 0.3s ease;
    width: 200px;
    max-width: 500px;
}

.search input:focus {
    width: 250px;
}

.showcase {
    text-align: center;
}

.showcase-logo img{
    width: 300px;
}

.showcase h2 {
    font-size: 30px;
}

.main-section {
    padding: 20px 10px 20px 10px;
}

.main-section h3 {
    font-weight: 500;
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 50px;
}

.grid .text-upper {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.grid p {
    line-height: 30px;
    text-align: center;
}

.grid a {
    color: var(--lighter-blue);
}

.grid a:hover {
    text-decoration: underline;
}

footer {
    position: relative;
}

footer::before {
    content: "";
    position: absolute;
    background-color: #071a36;
    /* background-color: #0d47a1; */
    z-index: -1;
    width: 100%;
    height: 100%;
    padding: 20px 10px 20px 10px;
    background-image: url("./images/alpha.png");
    background-position: center center;
    opacity: 0.5;
    background-repeat: repeat-x;
}


/* UTILS */
.flex {
    display: flex;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.center {
    justify-content: center;
}

.space-evenly {
    justify-content: space-evenly;
}

.column {
    flex-direction: column;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.btn {
    padding: 2px 34px 0;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
}

.btn-primary {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--lighter-blue);
    background-color: #444;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.text-upper {
    text-transform: uppercase;
    color: var(--lighter-blue);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
}

a {
    color: white;
    text-decoration: none;
}

.mb-3 {
    margin-bottom: 15px;
}

.grid-3 {
    color: white;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.grid-3 > div {
    text-align: left;
}

.grid-3 > div > p:not(:nth-child(1)) {
    margin-bottom: 10px;
    font-weight: 600;
}

.grid-3 > div > p:not(:nth-child(1)):hover {
    cursor: pointer;
    text-decoration: underline;
    text-align: left;
}